.metronome {
    display: grid;
    grid-area: 1 / 3 / 2 / 4;
    place-items: center;
    width: 100%;
}

.metronome-body {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2em;
}

.metronome-base {
    position: relative;
}

.metronome-arm {
    position: absolute;
}

.metronome-buttons {
    padding: 2vh 2vw;
}

.play {
    padding-right: 2vh;
}

.stop {
    padding-left: 2vh;
}

.slider {
    display: grid;
    place-items: center;
}

.bpm-buttons {
    display: flex;
    justify-content: center;
    padding: 2vw 4vh;
}

@media (prefers-color-scheme: light){
    .tabs-inner{
        --ion-background-color: url('/assets/pictures/light_triangles_b.png');
    }

    .input-wrapper, .button-native{
        font-size: 14pt;
    }

    .input-wrapper.sc-ion-input-md{
        background: rgb(225 225 225 / 75%);
        border-radius: 2em;
        padding: 0.75em;
    }
}

@media (prefers-color-scheme: dark){
    .tabs-inner{
        --ion-background-color: url('assets/pictures/dark-triangles.png');
    }

    #background-content{
        background-color: rgb(30 30 30);
    }
}
