.progress {
  margin: 50px auto;
  padding: 2px;
  width: 100%;
  max-width: 500px;
  border: 3px solid #05e35e;
  height: 30px;
}

.progress .progress__bar {
  height: 100%;
  width: 0%;
  background-color: #05e35e;
  animation: fill-bar 3s infinite;
}

@keyframes fill-bar {
  from {width: 0%;}
  to {width: 100%;}
}

.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.audio-controls,
.video-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-player,
.video-player {
    display: flex;
    justifyContent: center;
    align-items: center;
}
.audio-player,
.video-player,
.recorded-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.live-player {
    height: 200px;
    width: 400px;
    border: 1px solid #646cff;
    margin-bottom: 30px;
}
.recorded-player video {
    height: 400px;
    width: 800px;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

button
{
    background: #5fb5fe;
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
}
#object {

    margin-top: 50px;
    margin-bottom: 50px;
}
.parent
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
