.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}
main {
  display: flex;
  justifyContent: center;
  align-items: center;
}
.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.audio-controls,
.video-controls {
    margin-bottom: 20px;
    display: flex;
    justifyContent: right;
}
.audio-controls button {
   display: float;
   align: center;
}
.audio-player,
.video-player {
    display: flex;
    justifyContent: center;
    align-items: center;
}
.audio-player,
.video-player,
.recorded-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.live-player {
    height: 200px;
    width: 400px;
    border: 1px solid #646cff;
    margin-bottom: 30px;
}
.recorded-player video {
    height: 400px;
    width: 800px;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}
/*
button
{
    width: 150px;
    height: 50px;
    background: blue;
}*/
button
{
    background: #5fb5fe;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
